a.navbar-brand {
    margin-left: 1vw;
}

img.img-nav {
    width: 9vw;
    margin-left: 20vw;
}

@media (max-width: 991px) {
    a.navbar-brand {
        margin-left: -14vw;
    }
    
    img.img-nav {
        width: 100px;
        margin-left: 9vw;
    }
}

.dropdown-menu.show {
    background: black;
    margin-top: 1.6vw;

}

.dropdown-menu.show {
    display: block;
}

nav.bg-body-tertiary.navbar.navbar-expand-lg.navbar-light.bg-dark{
    background: rgba(0, 0, 0, 1) !important;
}